<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
		<div class="list-group">
			<% @concerts.each do |concert| %>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Band: <b><%= concert.band %></b> / id: <%= concert.id %></h4>
			    <p class="list-group-item-text">Venue: <b><%= concert.venue %></b></p>
			    <p class="list-group-item-text">City: <b><%= concert.city %></b></p>
			    <p class="list-group-item-text">Price: <b><%= concert.price %></b></p>
			    <p class="list-group-item-text">Date: <b><%= concert.date %></b></p>
			    <p class="list-group-item-text">Description: <b><%= concert.description %></b></p>
			  </a>
			<% end %>
		</div>
	</div>
</div>