<div class="col-md-10 col-md-offset-1">	
	<div class="jumbotron">
		<div class="container">
		  <h1><%= @concert.band %></h1>
		  <p>Location: <b><%= @concert.venue %></b></p>
		  <p>City: <b><%= @concert.city %></b></p>
		  <p>Date: <b><%= @concert.date.strftime("%A, %d - %B - %Y") %></b></p>
	  	<%= link_to "Buy Tickets", concerts_path, class: "btn btn-primary btn-lg" %>
	  	<%= link_to "Back", root_path, class: "btn btn-primary btn-lg" %>		  
		</div>
	</div>
	<div class="page-header">
	  <h2>Concert Comments</h2>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Panel heading without title</div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
	<div class="page-header">
	  <h2>Post new comment</h2>
	</div>

	<!-- this will be the form to publish post -->
	<%= bootstrap_form_for(@comment) do |c| %>
	<%= c.text_field :name %>
	<%= c.text_area :text %>
	<%= c.submit "Post" %>
	<% end %>

</div>

