<button onclick="window.location.href='/projects/new'">Create new project</button>
<hr>
<h2>PROJECTS GO HERE:</h2>
<h3>here is a really nice var: <%=@yMama%></h3>
<ul>
	<% @projects.each do |project| %>
		<li>
			<h2><%= link_to(project.name, project_entries_path(project)) %></h2>
			<!--<h2><a href=<%="/projects/#{project.id}/entries"%> ><%=project.name%></a></h2>-->
			<p><%= project.description %></p>
			<p>Created in: <%=project.created_at%></p>
		</li>
	<% end %>
</ul>