<h1>New entry for project: </h1>
<h2>
	Project: <%=@project.name%> /// 
	Created At: <%=@project.created_at%> ///
	Id: <%=@project.id%>
</h2>
<%= render 'form' %>
<% if @entry.errors.any? %>
	<ul>
		<% @entry.errors.full_messages.each do |err_message| %>
			<li><%= err_message %></li>
		<% end %>
	</ul>
<% end %>
