<h1>New entry page</h1>
<h2><%=@project%></h2>
<%= form_for [@project, @entry] do |f|%>
	<%= f.label :hours %>
	<%= f.text_field :hours %>
	<br>
	<%= f.label :minutes %>
	<%= f.text_field :minutes %>
	<br>
	<%= f.label :date %>
	<%= f.text_field :date %>
	<br>
	<%= f.label :comments %>
	<%= f.text_field :comments %>
	<br>
	<%= f.submit "Save" %>
<% end %>